.card {
  display: flex;
  /* align-items: center; */
  width: 380px;
  height: 280px;
  /* background-color: red; */
  flex-direction: column;
  cursor: pointer;
}
.slika {
  width: 100%;
  height: 60%;
  background-color: blue;
}
.slika img {
  height: 100%;
  width: 100%;
}
.ostalo h1 {
  margin-left: 5%;
  font-size: 1.5rem;
}
