* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.header {
  /* width: 100%; */
  height: 15vh;
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.formContainer {
  margin: auto;
  /* margin-top: 150px; */
  width: 30%;
}
